<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>DiskArbitrationFixup</string>
		<key>Description</key>
		<string>Lilu plugin for disabling the &quot;The disk you inserted was not readable by this computer&quot; message at boot on 10.9 or later. Useful if you have other disks with filesystems unknown to macOS.</string>
		<key>Url</key>
		<string>https://github.com/Goldfish64/DiskArbitrationFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>RTCMemoryFixup</string>
		<key>Description</key>
		<string>An open source kernel extension providing a way to emulate some offsets in CMOS (RTC) memory. It can help you to avoid some conflicts between osx AppleRTC and firmware/BIOS of your PC.</string>
		<key>Url</key>
		<string>https://github.com/acidanthera/RTCMemoryFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lilu</string>
		<key>Description</key>
		<string>An open source kernel extension bringing a platform for arbitrary kext, library, and program patching throughout the system for macOS.</string>
		<key>Url</key>
		<string>https://github.com/acidanthera/Lilu</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>VirtualSMC</string>
		<key>Description</key>
		<string>Advanced Apple SMC emulator in the kernel. Requires Lilu for full functioning.</string>
		<key>Url</key>
		<string>https://github.com/acidanthera/VirtualSMC</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>WhateverGreen</string>
		<key>Description</key>
		<string>Lilu plugin providing patches to select GPUs on macOS. Requires Lilu 1.2.5 or newer.</string>
		<key>Url</key>
		<string>https://github.com/acidanthera/WhateverGreen</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>AppleALC</string>
		<key>Description</key>
		<string>An open source kernel extension enabling native macOS HD audio for not officially supported codecs without any filesystem modifications.</string>
		<key>Url</key>
		<string>https://github.com/acidanthera/AppleALC</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>BT4LEContiunityFixup</string>
		<key>Description</key>
		<string>An open source kernel extension providing patches for IOBluetoothFamily.</string>
		<key>Url</key>
		<string>https://github.com/acidanthera/BT4LEContiunityFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>NoTouchID</string>
		<key>Description</key>
		<string>Lilu plugin for disabling Touch ID support.</string>
		<key>Url</key>
		<string>https://github.com/al3xtjames/NoTouchID</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>CPUFriend</string>
		<key>Description</key>
		<string>A Lilu plug-in for dynamic power management data injection.</string>
		<key>Url</key>
		<string>https://github.com/acidanthera/CPUFriend</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>NightShiftUnlocker</string>
		<key>Description</key>
		<string>A Lilu plugin that unlocks the Night Shift function for all Macs.</string>
		<key>Url</key>
		<string>https://github.com/0xFireWolf/NightShiftUnlocker</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ATH9KFixup</string>
		<key>Description</key>
		<string>An open source kernel extension providing patches for unsupported Atheros cards.</string>
		<key>Url</key>
		<string>https://github.com/RehabMan/ATH9KFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>HibernationFixup</string>
		<key>Description</key>
		<string>An open source kernel extension providing a sync between RTC variables and NVRAM.</string>
		<key>Url</key>
		<string>https://github.com/lvs1974/HibernationFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>AirportBrcmFixup</string>
		<key>Description</key>
		<string>An open source kernel extension providing a set of patches required for non-native Airport Broadcom Wi-Fi cards.</string>
		<key>Url</key>
		<string>https://github.com/lvs1974/AirportBrcmFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>NoVPAJpeg</string>
		<key>Description</key>
		<string>A Lilu plugin that disables the hardware JPEG decoding feature of the AppleVPA framework that breaks Preview and Quicklook on some systems.</string>
		<key>Url</key>
		<string>https://github.com/vulgo/NoVPAJpeg</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>SystemProfilerMemoryFixup</string>
		<key>Description</key>
		<string>Lilu plugin for showing the memory tab on MacBookAir and MacBookPro10,x platforms. The tab is normally hidden as these models have soldered memory.</string>
		<key>Url</key>
		<string>https://github.com/Goldfish64/SystemProfilerMemoryFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>USBInjectAll</string>
		<key>Description</key>
		<string>This kext attempts to inject USB ports for each controller, and for hubs as well.</string>
		<key>Url</key>
		<string>https://github.com/RehabMan/OS-X-USB-Inject-All</string>
		<key>Type</key>
		<string>RehabMan</string>
	</dict>
</array>
</plist>
